table, th, td {
    margin: 0 auto;
    text-align: center;
    padding: 3px;
}

th {
    text-align: center;
    padding: 5px;
}

td {
    text-align: left;
}

.search {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}

.main {
    text-align: center;
}

body {
    font-family: 'Abhaya Libre';
    font-size: 18px;
}

img {
    height: auto;
    width: auto;
    max-width: 143px;
    max-height: 182px;
}

.btn-toolbar {
    text-align: center;
}

.trending-table {
    text-align: center;
}

.pos {
    color: #3e8f3e;
}

.neg {
    color: #b92c28;
}

​